<html>

<head>

    <title>留言板</title>
    <!-- <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- <link rel="shortcut icon" href="{{url_for('static', filename = 'chat.png' )}}"> -->
<link rel="shortcut icon" href="https://www.flaticon.com/svg/static/icons/svg/2950/2950568.svg">

</head>

<!-- <body style="background-color:#CA7853;"> -->
<body background="static\pexels-pok-rie-2049422.jpg">


<div class="container">

    <div class="card text-center bg-dark text-white">

        <h1>留言板</h1>

    </div>