<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://www.flaticon.com/svg/vstatic/svg/2996/2996271.svg?token=exp=1611289169~hmac=31c026f0ddd864c4668616668b5311ff">
    <title>Register</title>
    <div class="card text-center bg-dark text-white">
        <h1>Register Form</h1>
    </div>
</head>
<body>
    <div class="container">
        <body background="static\pexels-pok-rie-2049422.jpg">
        <div class="container-xl" style="margin-top: 15%;">
            <form action="#" method="POST">
                <div class="container">

                    <div class="col-md-6">
                        <label for="exampleInputEmail1" class="form-label"><span style="color:orange;">User Name</span></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="User Name *" name = "user_name">
                    </div>
                </div>

                <p>                    
                </p>

                <div class="container">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1" class="form-label"><span style="color:orange;">City Name</span></label>
                        <p>                    
                        </p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>City Name</option>
                            <option value="1">Taipei</option>
                            <option value="2">NewTaipei</option>
                            <!-- <option value="3">Three</option> -->
                          </select>
                        <!-- <label for="exampleInputPassword1" class="form-label"><span style="color:orange;">City Name</span></label>
                        <input type="text" class="form-control" id="exampleInputCitymane1" placeholder="City Name *"> -->
                    </div>
                </div>

                <div class="container">
                    <div class="mb-3 form-check">
                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                        <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                        <div id="InfoHelp" class="form-text">We'll never share your information with anyone else.</div>
                    </div> 
                    <button type="submit" class="btn btn-primary">Submit</button>  
                </div>

            </form>
        </div>
    </div>
</body>
<footer >
    <div class="container-fluid" style = "position: absolute; bottom: 0; padding-right: 0px; padding-left: 0px;">
        <div class="card text-center bg-dark text-white">
            <h3 style="margin-top: 8px;">Reddoor Intern</h3>
        </div>       
    </div>
 </footer>
</html>